= form_tag "/messages", :html => {:id => "new_form"} do
  .field
    = label_tag(:to, "Destinataire")
    = autocomplete_field_tag :to, '', messages_autocomplete_user_login_path, :id_element => '#to_uid'
    = hidden_field_tag :to_uid
  .field
    = label_tag :body, 'Message'
    = text_area_tag :body, '', :size => "30x5"
  .actions
    = submit_tag 'Envoyer'
