<div id="container" class="socialContainer">
	<div id="signup" class="login">
		<div id="instant_signup">
			<h3>Instant Login</h3>
			<a href="auth/facebook/"><img src="img/facebook.png" alt="Facebook" /></a>
		</div>

		<div id="normal_signup">
			<h3>Normal Login</h3>

			<%= form_tag session_path do -%>
			<p><%= label_tag 'login' %>
			<%= text_field_tag 'login', @login %></p>

			<p><%= label_tag 'password' %>
			<%= password_field_tag 'password', nil %></p>

			<!-- Uncomment this if you want this functionality
			<p><%= label_tag 'remember_me', 'Remember me' %>
			<%= check_box_tag 'remember_me', '1', @remember_me %></p>
			-->

			<p><%= submit_tag 'Log in' %></p>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
</div>
