= form_for @user, :html => { :multipart => true }, :url => {:action => "addjob", :id => @user} do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = collection_select(:user_job, :job_id, Job.all, :id, :label, :prompt => 'Sélectionner un job')
  .actions
    = f.submit 'Ajouter un job'