%div{:style => "display: none;"}
  #form_new_project
    = render :partial => "projects/new", :locals => {:@project => Project.new} 
#sky
  #container.socialContainer
    - if @user.url_img 
      %a{:href => "/profile"}
        %img.img_sheet{ :src => @user.url_img << "=large", :alt => @user.login}
    - else
      %a{:href => "/profile"}
        %img.img_sheet{ :src => @user.avatar.url(:large), :alt => @user.login}
    %h1 
      = link_to @user.login, :profile
    #jobs
      -for job in @user.jobs.where("project_id IS NULL")
        %span
          ="#" << job.label

    .left.info_sup
      .info
        %img.left{ :src => "/img/icons/pencil.png", :alt => ""}
        %p
          =link_to 'Editer mon profil', edit_user_path(@user)
      .info
        %img.left{ :src => "/img/icons/pencil.png", :alt => ""}
        %p
          = link_to "Create a project", "#form_new_project", :class => "popup"
      %br/
      %br/

      - if !@user.location.nil? && !@user.location.empty?
        .info
          %img.left{ :src => "/img/icons/location.png", :alt => ""}
          %p 
            = @user.location

      - if !@user.status.nil? && !@user.status.empty?
        .info
          %img.left{ :src => "/img/icons/bubble.png", :alt => ""}
          %p 
            = @user.status
      %br/
      %br/

      - if !@user.links.nil? && !@user.links.empty?
        .info
          %img.left{ :src => "/img/icons/suitcase.png", :alt => ""}
          - link_splitted = @user.links.split(' ')
          - for link in link_splitted
            %p
              = link

    #social_content.right
      #socialMenu
        %ul#tabs
          %li
            %a{:alt => "#projects_in_progress" , :class => "tab_menu"} Projets en cours
          %li
            %a{:alt => "#projects_overed", :class => "tab_menu"} Projets terminés
          %li
            %a{:alt => "#ad", :class => "tab_menu"} Mes annonces
      #content
        #form
          %h4 Informations générales
          = render 'form'

          %br/
          %br/

        #form_job
          %h4 Mes jobs
          - for job in @user.jobs.where("project_id IS NULL")
            .job_box
              %p
                =job.label << " "
                = link_to image_tag("/img/icons/delete.png", :alt => "baba", :class => "delete"), {:action => "destroyjob", :id => @user.id, :idjob => job.id}
          = render 'formJob'

        #projects_in_progress.tab_content.hidden
          - for project in @user.projects.order("created_at DESC")
            .project_list
              %a{ :href => project_path(project)}
                = image_tag project.avatar_project.url(:large), :class => "left"
              %div
                %h3
                  = link_to project.name, project_path(project)
                %p
                  = truncate(project.description, :length => 200, :omission => '...')
                %p.send_mail 
                  %img{ :src => "#", :alt => ""}
                  %a{ :href => "#"} Envoyer un message
              .clear

        #projects_overed.tab_content.hidden
          %p projects_overed

        #ad.tab_content.hidden
          - if current_user.id == @user.id
            = render :partial => "announces/new", :locals => {:@announce => Announce.new, :@author_type => '0', :@author_id => @user.id}
          .clear
          - if !@announces.blank?
            #announces
              %h4 Mes annonces
              - for announce in @announces
                - candidates = AnnounceCandidate.where("announce_id = ?", announce.id)
                - singular_sentence = "candidat a postulé"
                - plural_sentence = "candidats ont postulé"
                - negative_sentence = "Aucun candidat n'a postulé"
                - if candidates.count == 0
                  - sentence = negative_sentence
                - elsif candidates.count == 1
                  - sentence = "#{candidates.count} " << singular_sentence
                - else
                  - sentence = "#{candidates.count} " << plural_sentence
                - available = false
                - for candidate in candidates
                  - if candidate.accepted
                    - available = true
                - idcss = "#{announce.id}"

              .announce
                - if @user.url_img != nil
                  %a{:href => user_path(@user)}
                    = image_tag @user.url_img << "=normal", :alt => @user.login, :class => "left"
                - else
                  %a{:href => user_path(@user)}
                    = image_tag @user.avatar.url(:medium), :class => "left"
                .send_mail
                  %img{:src => "#", :alt => ""}
                - if candidates.count > 0 && available == false
                  = link_to sentence, "##{announce.id}", :class => "popup"
                - elsif available == true
                  %span.left
                    Pourvu
                - else
                  = sentence 
                %div
                  %h3
                    = announce.title
                  - job = Job.find(announce.job_id)
                  %p
                    %span
                      = "#" << job.label
                  %p
                    %img{:src => "/img/icons/location.png", :alt => ""}
                    %span
                      = announce.location
                  %p.description
                    = announce.description
                  .clear

                  %div{:style => "display: none;"}
                    %div{:id => idcss, :class => "manage_candidates"}
                      = render :partial => "announces/candidates", :locals => {:@announce_id => announce.id}

                  .clear
                .clear

    .clear
