= form_for @announce do |f|
  -if @announce.errors.any?
    #error_explanation
      %h2= "#{pluralize(@announce.errors.count, "error")} prohibited this announce from being saved:"
      %ul
        - @announce.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Titre"
    = f.text_field :title
  .field
    = f.label "Ville"
    = f.text_field :location
  .field
    = f.label "Dates"
    = f.text_field :date
  .field
    = f.label "Job"
    = collection_select(:user_job, :job_id, Job.all, :id, :label, :prompt => 'Sélectionner un job')
  .field
    = f.label :description
    %br
    = f.text_area :description
  .field
    = hidden_field_tag 'author_type', @author_type
  .field
    = hidden_field_tag 'author_id', @author_id
  .actions
    = f.submit "Poster l'annonce"
  .clear
