<div id="container" class="subscription">
  <div id="signup" class="login">
    <h1>Create a new project</h1>

    <%= form_for(@project, :url => projects_path(:iduser => @user.id)) do |f| %>
      <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
          <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :city %>
        <%= f.text_field :city %>
      </div>
      <div class="field">
        <%= f.label :description %><br/>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label "Avatar" %>
        <%= f.file_field :avatar_project %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>