<div id="sky">
  <div id="container" class="socialContainer">
    <a href="<%= project_path(@project) %>"><%= image_tag @project.avatar_project.url(:large), :class => "img_sheet" %></a>
    <h1><a href="<%= project_path(@project) %>"><%= @project.name %></a></h1>

    <div class="left info_sup">
      <% if @project.city %>
        <div class="info">
          <img src="/img/icons/location.png" alt="" class="left"/>
          <p><%= @project.city %></p> 
        </div>
      <%end%>

      <% if @project.status %>
        <div class="info">
          <img src="/img/icons/process.png" alt="" class="left"/>
          <p><%= @project.status %></p> 
        </div>
      <%end%>  
      <br/><br/>

      <div class="project_members">
        <% for user in @project.users %>
            <% if user.url_img != nil%>
              <a href="<%= user_path(user) %>"><%= image_tag user.url_img << "=small", :alt => user.login, :class => "left thumb_facebook" %></a>
            <% else %>
              <a href="<%= user_path(user) %>"><%= image_tag user.avatar.url(:thumb), :class => "left" %></a>
            <% end %>
            <p class="left"><a href="<%= user_path(user) %>"><%= user.login %></a></p>
            <div class="clear"></div>
        <% end %> 
      </div>       

    </div>

    <div class="right" id="social_content">
      <div id="socialMenu">
        <ul id="tabs">
          <li class="active">
            <a alt="#project_video" class="tab_menu"> Vidéo </a>
          </li>
          <li>
            <a alt="#project_description" class="tab_menu"> Description </a>
          </li>
          <li>
            <a alt="#ad" class="tab_menu"> Leurs annonces </a>
          </li>
        </ul>
      </div>

      <div id="content">
        <p id="notice"><%= notice %></p>

        <div id="project_video" class="tab_content">
          <%#= render "videos/show", :locals => {:@video => Video.where(:project_id => @project.id)} %>
        </div>

        <div id="project_description" class="tab_content hidden">
          <p><%= @project.description %></p>
        </div>

        <div id="ad" class="tab_content hidden">
          <%if !@announces.blank?%>
            <div id="announces">
                <h4>Mes annonces</h4>
                  <% for announce in @announces %>
                    <% candidates = AnnounceCandidate.where("announce_id = ?", announce.id) %>
                    <% available = false %>
                    <% for candidate in candidates %>
                      <% if candidate.accepted %>
                        <% available = true %>
                      <% end %>
                    <% end %>
                    <% idcss = "#{announce.id}" %>

                    <div class="announce">
                        <a href="<%= project_path(@project) %>">
                          <%= image_tag @project.avatar_project.url(:medium), :class => "left"%>
                        </a>
                        <p class="send_mail"><img src="#" alt=""/>
                          <% candidates = AnnounceCandidate.where("announce_id = ?", announce.id) %>
                          <% postulated = false %>
                          <% for candidate in candidates %>
                            <% if candidate.author_id == current_user.id %>
                              <% postulated = true %>
                            <% end %>
                          <% end %>
                          <% if postulated == false %>
                            <% if announce.author_type == 1 %>
                              <p class="send_mail">
                                <img src="#" alt=""/>
                                <%= link_to "Postuler", :action => "postuleruser", :id => current_user.id, :announce_id => announce.id %>
                              </p>
                            <% end %>
                          <% end %>
                          <% if available == true %>
                            <span class="left">Pourvu</span>
                          <% end %>
                        </p>
                        <div>
                          <h3><%= announce.title%></h3>
                          <% job = Job.find(announce.job_id) %>
                          <p>
                              <span>#<%= job.label %></span>
                          </p>
                          <p>
                              <img src="/img/icons/location.png" width="13px" alt=""/>
                              <span><%= announce.location %></span>
                          </p>
                          <p>
                              <img src="/img/icons/calendar_empty.png" width="20px" alt=""/>
                              <span><%= announce.date %></span>
                          </p>
                          <p class="description"><%= announce.description %></p>
                          <div class="clear"></div>
                        </div>
                    </div>
                    <% if candidates.count > 0 %>
                      <div style="display: none;">
                        <div id="<%= idcss %>" class="manage_candidates">
                          <%= render :partial => "announces/candidates", :locals => {:@announce_id => announce.id}%>
                        </div>
                      </div>
                    <% end %>
                    <div class="clear"></div>
                  <% end %>
            </div>
          <% end %>
        </div>


        <!--<h4>Liste des administrateurs</h4>
        <% for user in @project.users.where("admin = ?", true) %>
              -<%= user.login %>
              <br/>
        <% end %>

        <h4>Liste des non-administrateurs</h4>
        <% for user in @project.users.where("admin = ?", false) %>
              -<%= user.login %>
              <br/>
        <% end %>-->
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>