<div id="sky">
  <div id="container" class="socialContainer">
    <a href="<%=project_path(@project)%>">
      <img class="img_sheet" src="<%= @project.avatar_project.url(:large) %>" alt="<%= @project.name %>"/>
    </a>
    <h1><%= link_to @project.name, project_path(@project) %></h1>

    <div class="left info_sup">
      <div class="info">
        <img src="/img/icons/pencil.png" alt="" class="left"/>
        <p><%=link_to 'Editer la fiche projet', edit_project_path(@project)%></p>
      </div>
      <div class="info">
        <img src="/img/icons/file.png" alt="" class="left"/>
        <p><%=link_to 'Voir la fiche publique', :controller => "projects", :action => "show", :public => true%></p>
      </div>
      <br/><br/>

      <% if @project.city %>
        <div class="info">
          <img src="/img/icons/location.png" alt="" class="left"/>
          <p><%= @project.city %></p> 
        </div>
      <%end%>

      <% if @project.status %>
        <div class="info">
          <img src="/img/icons/process.png" alt="" class="left"/>
          <p><%= @project.status %></p> 
        </div>
      <%end%>  
      <br/>

      <div class="project_members">
        <% for user in @project.users%>
            <% if user.url_img != nil%>
              <a href="<%= user_path(user.id) %>"><%= image_tag user.url_img << "=small", :alt => user.login, :class => "left thumb_facebook" %></a>
            <% else %>
              <a href="<%= user_path(user.id) %>"><%= image_tag user.avatar.url(:thumb), :class => "left" %></a>
            <% end %>
                <p class="left"><%= user.login %></p>
        <% end %>  
      </div>

    </div>

    <div id="social_content" class="right">
      <div id="socialMenu">
        <ul id="tabs">
          <li class="active">
            <a alt="#communicate" class="tab_menu"> Communiquer </a>
          </li>
          <li>
            <a alt="#doc" class="tab_menu"> Documents </a>
          </li>
          <li>
            <a alt="#ad" class="tab_menu"> Annonces </a>
          </li>
        </ul>
      </div>

      <div id="content">
        <div id="form">
        	<h4>Informations générales</h4>
      		<%= render 'form' %>
      		<div class="clear"></div>
      		<br/><br/>

      		<h4>Gestion des membres</h4>
      			<div class="left members">
      				<h5>Administrateurs</h5>
      			    <% for user in @project.users.where("admin = ?", true) %>
      			    	<% if user.url_img != nil%>
      						<a href="<%= user_path(user) %>"><%= image_tag user.url_img << "=small", :alt => user.login, :class => "left" %></a>
      			    	<% else %>
      						<a href="<%= user_path(user) %>"><%= image_tag user.avatar.url(:small), :class => "left" %></a>
      					<% end %>
      			        <p class="left"><%= user.login %></p>
      			        <br/>
      			    <% end %>
      			</div>

      			<div class="left members">
      				<h5>Membres</h5>
      			    <% for user in @project.users.where("admin = ?", false) %>
      			    	<% if user.url_img != nil%>
      						  <a href="<%= user_path(user) %>"><%= image_tag user.url_img << "=small", :alt => user.login, :class => "left" %></a>
      			    	<% else %>
      						  <a href="<%= user_path(user) %>"><%= image_tag user.avatar.url(:small), :class => "left" %></a>
      					  <% end %>
    			        <p class="left"><%= user.login %></p>
    			        
    			        <% if @project.users.where("admin = ?", true).include? (current_user) %>          
    			          <p class="right"><%= link_to "Promote", {:controller => "projects", :action => "promoteuser", :id => @project.id, :iduser => user.id} %>
    			           / 
    			          <%= link_to "Delete", {:controller => "projects", :action => "destroyuser", :id => @project.id, :iduser => user.id} %></p>
    			        <%  end %>
    			          
    			        <br/>
      			    <% end %>
      			</div>

            <div class="clear"></div>
            <br/>

            <div id="form_job">
              <h4>Gestion des jobs</h4>
              <% for user in @project.users %>
                <% if user.url_img != nil%>
                  <a href="<%= user_path(user) %>"><%= image_tag user.url_img << "=small", :alt => user.login, :class => "left" %></a>
                  <% else %>
                  <a href="<%= user_path(user) %>"><%= image_tag user.avatar.url(:small), :class => "left" %></a>
                <% end %>
                <p><%= user.login %></p>

                <div class="job_box">
                  <% for job in user.jobs.where("project_id = ?", @project) %>
                    <span> # <%= job.label %>
                    <%= link_to image_tag("/img/icons/delete.png", :alt => "", :class => "delete"), {:action => "destroyjob", :id => @project.id, :idjob => job.id}%></span>
                  <% end %>
                </div>

               <%=render 'formJob', :iduser => user.id %>

                <br/>
              <% end %> 
            </div>   
  	    </div>

        <div id="communicate" class="tab_content">
          <div class="write_msg">
            <% if current_user.url_img != nil%>
              <a href="<%= user_path(current_user) %>"><%= image_tag current_user.url_img << "=small", :alt => current_user.login, :class => "left" %></a>
            <% else %>
              <a href="<%= user_path(current_user) %>"><%= image_tag current_user.avatar.url(:small), :class => "left" %></a>
            <% end %>
            <%= form_for(@project) do |f| %>
              <%= f.text_area :message, :value => "Rédiger un message..." %>
            <% end %>
          </div>
        </div>

        <div id="doc" class="tab_content hidden">
          <p>documents</p>
        </div>

        <div id="ad" class="tab_content hidden">
          <p>annonces</p>
        </div>

      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>